.icons{
    list-style: none;
    font-size: 47px;
    align-items: center;
    
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 15px;
    justify-content: center;
    padding: 0%;
    margin: 0;
}
h5{
    font-size: medium;
}