*{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(32, 192, 32);
  color: rgb(252, 252, 252);
}
.nav h3{
  font-size: 30px;
}

.nav-links{
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  list-style: none;
  text-decoration: none;
}

